<div>
    <jhi-alert></jhi-alert>
     <div class="row">
      <div class="col-xs-12">
    	 <h2>RFRs</h2>
         <button class="btn btn-primary" ui-sref="rfr.upload">
             <span class="glyphicon glyphicon-flash"></span> <span>Upload</span>
         </button>
         </div>
     </div>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th><span></span></th>
                <th jh-sort-by="requestId"><span>ID</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="requestTitle"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="appleManager"><span>Apple Manager</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rfr in vm.rfrs track by rfr.requestId">
            	    <td ng-show="rfr.status !== 'Not Responded'"></td>
                <td class="text-right" ng-show="rfr.status === 'Not Responded'">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="rfr.edit({requestId:rfr.requestId})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
                <td><a ui-sref="rfr.edit({requestId:rfr.requestId})">{{rfr.requestId}}</a></td>
                <td>{{rfr.requestTitle}}</td>
                <td>{{rfr.appleManager}}</td>
                <td ng-class="{'color-red': rfr.status === 'Not Responded', 'color-orange': rfr.status === 'Partially Responded', 'color-yellow': rfr.status === 'Responded', 'color-green': rfr.status === 'Completed'}"
                >{{rfr.status}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
