
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecieverLabel">Edit Recipient</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_psNumber">PS Number</label>
            <input type="text" class="form-control" name="psNumber" id="field_psNumber"
                    ng-model="vm.reciever.psNumber" required
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.reciever.name" required
                    />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_appleMail">Apple Mail (optional)</label>
            <input type="text" class="form-control" name="appleMail" id="field_appleMail"
                    ng-model="vm.reciever.appleMail"
                    />
        </div>

        <div class="form-group">
            <label for="field_group">Group</label>
            <select required class="form-control" id="field_group" name="group" ng-model="vm.reciever.groupId" 
            		ng-options="functionalGroup.id as 'IMT-2: ' + functionalGroup.imt2 + ' | ' + 'IMT-1: ' + functionalGroup.imt1 + ' | ' + 'IMT: ' + functionalGroup.imt for functionalGroup in vm.functionalgroups track by functionalGroup.id">
                <option value=""></option>
            </select>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
